*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #f3f3f3;
    font-family: sans-serif;
}
.header{
    background: url(img/Rectangle\ 2\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    background-position: absolute;
}
.navbar{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}
.logo{
    color: white;
    margin-left: 120px;
    margin-top: 65px;
    font-size: 25px;
    font-weight: bold;
}
.header ul{
    display: flex;
    list-style: none;
    margin-top: 70px;
    align-items: center;
}
.header ul a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 7px;
    margin-left: 50px;
    
}
.header ul .book{
   padding: 10px;
   background: rgba(222, 188, 100, 1);
   color: black;
}
.sub-text{
    color: white;
    text-align: center;
    font-family: sans-serif; 
    font-size: 45px;
    line-height: 3.9;
}
.boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 140px;
    margin-bottom: 130px;
    margin-left: 80px;
}
.boxes a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-align: center;
}
.box-a img{
    background: rgba(229, 229, 229, 1);
    padding: 15px;
    border-radius: 50%;
    margin-right: 75px;
    margin-bottom: 20px;
}
.box-a a{
    font-family: sans-serif;
    font-size: 22px;
    color: rgba(80, 80, 80, 1);
    font-weight: lighter;
    margin-top: 15px;
    margin-right: 80px;
    cursor: pointer;
}
.box-b img{
    background: rgba(229, 229, 229, 1);
    padding: 15px;
    border-radius: 50%;
    margin-right: 75px;
    margin-bottom: 20px;
}
.box-b a{
    font-family: sans-serif;
    font-size: 22px;
    color: rgba(80, 80, 80, 1);
    font-weight: lighter;
    margin-top: 15px;
    margin-right: 80px;
    cursor: pointer;
}
.box-c img{
    background: rgba(229, 229, 229, 1);
    padding: 15px;
    border-radius: 50%;
    margin-right: 75px;
    margin-bottom: 20px;
}
.box-c a{
    font-family: sans-serif;
    font-size: 22px;
    color: rgba(80, 80, 80, 1);
    font-weight: lighter;
}
.box-d img{
    background: rgba(229, 229, 229, 1);
    padding: 15px;
    border-radius: 50%;
    margin-right: 75px;
    margin-bottom: 20px;
}
.box-d a{
    font-family: sans-serif;
    font-size: 22px;
    color: rgba(80, 80, 80, 1);
    font-weight: lighter;
    margin-left: 15px;
}
.info{
    background: white;
    box-shadow: black;
    color: rgba(80, 80, 80, 1);
    padding: 20px 30px;
    margin: 20px;
}
.turn{
    display: flex;
    justify-content: space-between;
}
.top{
    line-height: 3;
}
.top img{
    width: 550px;
    margin-top: 50px;
}
.word{
    margin-top: 100px;
    line-height: 2;
    font-size: 20px;
}
.word h2{
    font-weight: bold;
}
.word h4{
    margin-top: 50px;
    font-weight: lighter;
    font-size: 15px;
}
.word h1{
    margin-top: 50px;
    font-size: 25px;
}
.word h3{
    font-weight: lighter;
    font-size: 15px;
}
.conf a{
    padding: 10px;
    color: black;
    background: rgba(222, 188, 100, 1);
    text-decoration: none;
    font-size: 20px;
    float: right;
    margin-top: 25px;
    margin-right: 60px;
}
.talk{
    color: rgba(80, 80, 80, 1);
    background: white;
    align-items: center;
    padding: 20px;
}

.footer{
    margin-top: 200px;
    background: rgba(24, 43, 71, 1);
    padding: 90px;
}
.sub-foot{
    display: flex;
    justify-content: space-around;
}
.footb ul{
    list-style-type: none;
    margin-top: 10px;
}
.footb a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.3;
}
li .company{
    font-weight: bold;
    line-height: 2;
}
.log{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 4;
    color: white;
}
.bae h2{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 20px;
    line-height: 1.3;
}
.bae h3{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
}
.sub{
    margin-top: 60px;
    padding: 13px 10px;
    width: 350px;
    font-size: 19px;
    font-weight: lighter;
    
}
.mit{
    padding: 13px 10px;
    width: 100px;
    font-size: 19px;
    font-weight: lighter;
    background: rgba(222, 188, 100, 1);
    color: black;
    cursor: pointer;
}
.numb {
    font-family: sans-serif;
    color: white;
    font-weight: lighter;
    margin-top: 10px;
    line-height: 1.8;
}
.numb h2{
    font-size: 20px;
    line-height: 2;
}
.copy{
    background: rgba(14, 28, 50, 1);
    padding: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: lighter;
}









